<center><h3>Cancel the Apocalypse</h3></center>
<i>by Big Drama No Drama</i>
<h4>Friday, March 13th, 8pm; and Saturday, March 14th, 8pm</h4>

Cancel the Apocalypse is a new work of experimental music-theatre by East Bay-based performance group Big Drama No Drama. This avant-rock opera conjures the overdriven angst of our hypermodern moment through song, soundscape, spoken word, and movement. Two musician-actors, Daniel Larlham and Liz DeRoche, offer up a screwball diagnosis of a culture in turmoil, as the production moves from a focus on the personal microcosm (disheartenment, confusion, despair) to a reckoning with the macrocosmic crisis of climate change. Audiences will take away from the production an infusion of vitality and hope, a realistic sense of faith in the resilience of life as an antidote to the seduction of doomsday thinking.

<div style="text-align: center;"><img src="{{ 'img/cancelled.jpeg' | absolute_url }}"></div>
