<center><h3>Dispatches from the Great Burning: What My Mennonite Ancestors and the Gobi Bear Taught Me About Surviving the Climate Emergency</h3></center>
<i>by Helen Stoltzfus</i>
<h4>Sunday, March 8th, 4pm; and Sunday, March 15th, 7pm</h4>

Dispatches from the Great Burning: What My Mennonite Ancestors and the Gobi Bear Taught Me About Surviving the Climate Emergency by Helen Stoltzfus

What does it mean to be a worthy ancestor – or a worthy human being – in a time of catastrophic upheaval? What does it mean to act audaciously – without knowing the outcome of one’s actions? One woman, six dispatches from: The Gobi Desert of Mongolia. The Big Bang. The Civil War. Oakland. The Alaskan tundra. Paradise…and its fires.
<div style="text-align: center;"><img src="{{ 'img/climateemergency.jpeg' | absolute_url }}"></div>

