<center><h3>Dispatches from the Great Burning: What My Mennonite Ancestors and the Gobi Bear Taught Me About Surviving the Climate Emergency</h3></center>
<i>by Helen Stoltzfus</i>
<h4>Sunday, March 8th, 4pm; and Sunday, March 15th, 7pm</h4>

Dispatches from the Great Burning: What My Mennonite Ancestors and the Gobi Bear Taught Me About Surviving the Climate Emergency by Helen Stoltzfus

What does it mean to be a worthy ancestor – or a worthy human being – in a time of catastrophic upheaval? What does it mean to act audaciously – without knowing the outcome of one’s actions? One woman, six dispatches from: The Gobi Desert of Mongolia. The Big Bang. The Civil War. Oakland. The Alaskan tundra. Paradise…and its fires.

<b>Artist Bio:</b>
Helen Stoltzfus is a founder and co-artistic director of Black Swan Arts & Media, an Oakland-based performing arts nonprofit (https://www.blackswanarts.org).  Black Swan creates and presents original performance and multimedia works that travel beyond borders of race, religion, culture and politics.  Recent works Helen wrote and directed include THE PREPARED TABLE: A Feast of Foods, Live Performance, and Stories from Iraq, Afghanistan, and the FOB (Forward Operating Base of the US Military), based on the post-9/11 wars, and HEART OF AMERICA: Stories from the New Ellis Island, an aerial/dance work on immigration.  Helen has been creating, performing, directing and teaching solo and ensemble theatre for over twenty-five years.  She volunteers full-time with Extinction Rebellion, (https://extinctionrebellionsfbay.org ), a global-wide nonviolent climate activist organization that started in the UK, and is a member of the Red Rebel Brigade. 

<div style="text-align: center;"><img src="{{ 'img/climateemergency.jpeg' | absolute_url }}"></div>

