<center><h3>Out of the Dust</h3></center>
<i>by Kirstin Brown and Helen Fitanides</i>
<h4>Saturday, March 7th, 8pm; and Thursday, March 12th, 8pm</h4>

Out of the Dust explores the fate of creatures living in a world in which they can no longer survive. Starting on the ground, they are forced to adapt to environmental factors outside their control, and eventually must find new habitat for their species survival. This piece embodies the struggle of all beings facing a changing climate and limited resources.

<b>Artist Bio:</b>
Helen Fitanides and Kirstin Brown have been working and performing together as part of UpSwing Aerial Dance Company since 2015, and recently began a choreographic journey of their own when they purchased an aerial rope. Out of the Dust is their first creation, and explores the struggle of all beings facing climate change and forced to adapt to environmental factors outside their control. Kirstin is also the owner of Phoenix Aerial Art and Pole in Berkeley, and Helen works in the environmental field when she's not flying. 

