<center><h3>Out of the Dust</h3></center>
<i>by Kirstin Brown and Helen Fitanides</i>
<h4>Saturday, March 7th, 8pm; and Thursday, March 12th, 8pm</h4>

Out of the Dust explores the fate of creatures living in a world in which they can no longer survive. Starting on the ground, they are forced to adapt to environmental factors outside their control, and eventually must find new habitat for their species survival. This piece embodies the struggle of all beings facing a changing climate and limited resources.
