<div style="text-align: center;"><img src="{{ 'img/terrafemme.jpeg' | absolute_url }}"></div>
<br>
<h4>Mar 6 8pm</h4>
Terra Femme by A. Spearman &Co.


AspearmanAndCo.org



Terra Femme centers on embodying Earth as a feminine being whose energy (resources-water, land, plants and vegetation, minerals, etc) is being drained by her children who create man made devices and disasters. The dancers and Earth Choir are her children.



A. Spearman & Co. is a contemporary fusion dance company that was founded in 2012 by Artistic Director Andréa Spearman. All artists are trained in various fields of movement including ballet, jazz, hip hop, modern, and cultural dance. This company seeks to design and create unique vocabularies of performance. Explosive and varied, this company maintains it's loyalty to unusual collaborations.
