<div style="text-align: center;"><img src="{{ 'img/secretofthetrees.jpeg' | absolute_url }}"></div>
<br>
<h4>All Dates and Times</h4>
The Secrets of the Trees by Caitlyn Kilgore, featuring Stephanie Chen, Bobbi Dulaney, Carrie Gaydos, and Mel Mark

Inspired by the book The Hidden Life of Trees by Peter Wohleben, this piece blossomed into an affirmation of our interdependence. Drawing inspiration from Standing Rock and other political actions, and books like Blessed Unrest and Radical Ecology, the performers have woven together a story of struggle and hope in a harrowing time. Touching on themes of socialism, competition, set-back, and rebirth, The Secrets of the Trees is a circus, dance, and theatrical critique of capitalism and greed told through the eyes of the forest as they struggle for survival in the Anthropocene.


