<center><h3>Upwelling</h3></center>
<i><a href="www.nommensendance.com">by Nommensen Dance</a></i>
<h4>Thursday, March 12th, 8pm</h4>

“Upwelling” is a ocean-inspired dance performance created by Amelia Nommensen in collaboration with dancers Chelsea Boyd Brown, Annalise Constantz, Wednesday Manners and original cast member Audrey Johnson. This work in progress takes a dive into the alluring mysteries of the ocean with underwater recordings, poetry, song, and modern dance exploring the strength of feminine forces. With an original sound score by Joe Krempetz, allow the auditory and visual journey to leave your heart full of wonder and with the impulse to save our seas.

<div style="text-align: center;"><img src="{{ 'img/upwelling.jpeg' | absolute_url }}"></div>
