<center><h3>Upwelling</h3></center>
<i><a href="www.nommensendance.com">by Nommensen Dance</a></i>
<h4>Thursday, March 12th, 8pm</h4>

“Upwelling” is a ocean-inspired dance performance created by Amelia Nommensen in collaboration with dancers Chelsea Boyd Brown, Annalise Constantz, Wednesday Manners and original cast member Audrey Johnson. This work in progress takes a dive into the alluring mysteries of the ocean with underwater recordings, poetry, song, and modern dance exploring the strength of feminine forces. With an original sound score by Joe Krempetz, allow the auditory and visual journey to leave your heart full of wonder and with the impulse to save our seas.

Choreographed by Amelia Nommensen in collaboration with the dancers (including original cast member Audrey Johnson). Performed by Chelsea Boyd Brown, Annalise Constantz, Wednesday Manners, and Amelia Nommensen. Original sound score by Joe Krempetz. (Sounds sampled from Monterey Bay Aquarium Research Institute, Sounds of the Salish Sea, Glass Animals and various artists.) Costume and Prop design by Amelia Nommensen. This group of Bay Area dancers comes together sharing their love for the ocean. Being inspired by currents, creatures, and the unknown, this work-in-progress highlights the importance of taking care of our blue planet.
<div style="text-align: center;"><img src="{{ 'img/upwelling.jpeg' | absolute_url }}"></div>
